<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets Eat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>Lets Eat</h1>
    <p>Choose a cuisin to filter restaurants.</p>

    <form method="GET" action="/">
            <!--cuisine filter option-->
        <label for="cuisine">Cuisine</label>
        <select name="cuisine" id="cuisine">
            <option value="">All</option>
            {% for cuisine in cuisines %}
                <option value="{{ cuisine }}" {% if cuisine == selected_cuisine %}selected{% endif %}>
                    {{ cuisine }}
                </option>
            {% endfor %}
        </select>
            <!--price filter option-->
        <label for="price">Max Price</label>
        <select name="price" id="price">
            <option value="">Any</option>
            <option value="1" {% if max_price == "1" %}selected{% endif %}>$</option>
            <option value="2" {% if max_price == "2" %}selected{% endif %}>$$</option>
             <option value="3" {% if max_price == "3" %}selected{% endif %}>$$$</option>
        </select>
            <!--rating filter option-->
        <label for="rating">Minimum Rating</label>
        <select name="rating" id="rating">
            <option value="">Any</option>
            <option value="4.0" {% if min_rating == "4.0" %}selected{% endif %}>4.0</option>
            <option value="3.0" {% if min_rating == "3.0" %}selected{% endif %}>3.0</option>
            <option value="2.0" {% if min_rating == "2.0" %}selected{% endif %}>2.0</option>
            <option value="1.0" {% if min_rating == "1.0" %}selected{% endif %}>1.0</option>
        </select>
            <!--filter and random buttons-->
        <button type="submit">Filter</button>
        <button type="submit" name="pick" value="1">Pick For Me</button>
    </form>

    <hr>
        <!--random choice-->
    {% if chosen_restaurant %}
        <h2>🍽️ Your Pick:</h2>
        <div class="restaurant-card">
            <h2>{{ chosen_restaurant.name }}</h2>
            <p><strong>Cuisine:</strong> {{ chosen_restaurant.cuisine }}</p>
            <p><strong>Price:</strong> {{ chosen_restaurant.price }}</p>
            <p><strong>Rating:</strong> {{ chosen_restaurant.rating }}</p>
            <p><strong>Distance:</strong> {{ chosen_restaurant.distance }} miles</p>
            <p><strong>Location:</strong> {{ chosen_restaurant.location }}</p>
        </div>
        <hr>
    {% endif %}
        <!--filtered list of restaurants-->
    {% if restaurants %}
        {% for restaurant in restaurants %}
            <div class="restaurant-card">
                <h2>{{ restaurant.name }}</h2>
                <p><strong>Cuisine:</strong> {{ restaurant.cuisine }}</p>
                <p><strong>Price:</strong> {{ restaurant.price }}</p>
                <p><strong>Rating:</strong> {{ restaurant.rating }}</p>
                <p><strong>Distance:</strong> {{ restaurant.distance }}</p>
                <p><strong>Location:</strong> {{ restaurant.location }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No restaurants match this cuisine.</p>
    {% endif %}
</body>
</html>