<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets Eat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>Lets Eat</h1>
    <p>Choose a cuisin to filter restaurants.</p>

    <form method="GET" action="/">
        <label for="cuisine">Cuisine</label>
        <select name="cuisine" id="cuisine">
            <option value="">All</option>
            {% for cuisine in cuisines %}
                <option value="{{ cuisine }}" {% if cuisine == selected_cuisine %}selected{% endif %}>
                    {{ cuisine }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Filter</button>
        <button type="submit" name="pick" value="1">Pick For Me</button>
    </form>

    <hr>

    {% if chosen_restaurant %}
        <h2>🍽️ Your Pick:</h2>
        <div class="restaurant-card">
            <h2>{{ chosen_restaurant.name }}</h2>
            <p><strong>Cuisine:</strong> {{ chosen_restaurant.cuisine }}</p>
            <p><strong>Price:</strong> {{ chosen_restaurant.price }}</p>
            <p><strong>Rating:</strong> {{ chosen_restaurant.rating }}</p>
            <p><strong>Distance:</strong> {{ chosen_restaurant.distance }} miles</p>
            <p><strong>Location:</strong> {{ chosen_restaurant.location }}</p>
        </div>
        <hr>
    {% endif %}

    {% if restaurants %}
        {% for restaurant in restaurants %}
            <div class="restaurant-card">
                <h2>{{ restaurant.name }}</h2>
                <p><strong>Cuisine:</strong> {{ restaurant.cuisine }}</p>
                <p><strong>Price:</strong> {{ restaurant.price }}</p>
                <p><strong>Rating:</strong> {{ restaurant.rating }}</p>
                <p><strong>Distance:</strong> {{ restaurant.distance }}</p>
                <p><strong>Location:</strong> {{ restaurant.location }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No restaurants match this cuisine.</p>
    {% endif %}
</body>
</html>